.background1{
    background: url("./img/castlebackground.jpg");
    width:100%;
    height:100%;
    /* margin:0 auto; */
    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
    background-repeat: no-repeat;
    background-size: cover; 
}

.indexbox{
    text-align: center;
    
}